<!doctype html>
<html lang="ru">
<head>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/media/static/back-img/favicon.ico"/>
    <link href="/media/static/css/login/bootstrap-login.min.css" rel="stylesheet">
    <link href="/media/static/css/login/login-style.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Заявки УСК</title>
</head>
<body class="body">
    <div class="text-center">
        <form class="form-signin" action="" method="POST">
            {% csrf_token %}
            <img class="mb-4"
                 src="/media/static/files/logo/tusur-login.png"
                 width="1000"
                 height="120"
                 style="align: center; margin-left: -100%;">
            <h1 class="h3 mb-3 font-weight-normal">Заявки УСК</h1>
            <input type="text"
                   id="id_username"
                   class="form-control"
                   name="username"
                   placeholder="Введите логин"
                   autocomplete="off">
            <br>
            <input type="password"
                   id="id_password"
                   class="form-control"
                   name="password"
                   placeholder="Введите пароль"
                   autocomplete="off">
            <br>
            <button class="btn btn-lg btn-primary btn-block"
                    type="submit">
                Войти
            </button>
        </form>
    </div>
</body>
</html>